.grid {
  width: 630px;
  height: 890px;
  background-color: yellow;
  position: relative;
}

.gurmann {
  width: 60px;
  height: 85px;
  background-color: red;
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background-color: green;
  position: absolute;
}
