html,
body {
  height: 100%;
  font-size: 1rem;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

#intro-example {
  height: 400px;
}

@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}

.equipo {
  border-radius: 5px;
  background-color: #f2f2f2;
}

.padding-equipo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.spacing {
  height: 30px;
}

.footer-bg {
  background-color: #f2f2f2;
}

.img-ciclos {
  display: block;
  width: 50%;
}
.textGame{
  color: black;
  font-size: 40px;
  text-align: start;
}

.image-carousel{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='719' preserveAspectRatio='none' viewBox='0 0 1920 719'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1234%26quot%3b)' fill='none'%3e%3crect width='1920' height='719' x='0' y='0' fill='url(%23SvgjsLinearGradient1235)'%3e%3c/rect%3e%3cpath d='M348.728742624235 617.5505683384832L471.6194007930226 669.7145578785567 400.8927321643084 494.65991016969565z' fill='rgba(6%2c 119%2c 144%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M514.505775293821 560.1528778121242L669.5201320705289 613.5286013066806 722.8958555650852 458.5142445299727 567.8814987883774 405.1385210354163z' fill='rgba(6%2c 119%2c 144%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M468.606%2c216.696C486.972%2c215.504%2c499.237%2c199.769%2c508.129%2c183.654C516.632%2c168.243%2c522.256%2c150.178%2c513.839%2c134.72C505.119%2c118.705%2c486.836%2c110.63%2c468.606%2c111.073C451.137%2c111.498%2c436.364%2c122.059%2c427.028%2c136.83C416.873%2c152.896%2c410.3%2c172.574%2c419.076%2c189.432C428.403%2c207.348%2c448.449%2c218.004%2c468.606%2c216.696' fill='rgba(6%2c 119%2c 144%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1471.0834928531033 191.29737998032584L1320.2484208028811 23.456663258803303 1256.0265357822836 209.97056032046848z' fill='rgba(6%2c 119%2c 144%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1835.9272353937274 329.61092349073L1895.694299171786 212.3114562367154 1778.3948319177716 152.54439245865666 1718.6277681397128 269.84385971267125z' fill='rgba(6%2c 119%2c 144%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1859.575%2c488.009C1897.533%2c489.572%2c1924.605%2c455.123%2c1942.732%2c421.737C1959.856%2c390.198%2c1967.259%2c352.986%2c1949.955%2c321.545C1932.086%2c289.077%2c1896.633%2c271.034%2c1859.575%2c270.637C1821.78%2c270.232%2c1782.632%2c285.741%2c1765.779%2c319.573C1750.136%2c350.976%2c1770.423%2c384.691%2c1787.492%2c415.343C1805.282%2c447.291%2c1823.039%2c486.504%2c1859.575%2c488.009' fill='rgba(6%2c 119%2c 144%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M312.2537908158965 130.60297981578162L309.56358280360575 284.7248936186776 463.6854966065017 287.41510163096825 466.3757046187924 133.29318782807232z' fill='rgba(6%2c 119%2c 144%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1335.8147980803112 32.7073297686746L1212.3009049945783-143.6887904466734 1035.9047847792303-20.174897360940477 1159.4186778649632 156.22122285440753z' fill='rgba(6%2c 119%2c 144%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-99.85 214.92 a174.47 174.47 0 1 0 348.94 0 a174.47 174.47 0 1 0 -348.94 0z' fill='rgba(6%2c 119%2c 144%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M548.24 201.68 a175.86 175.86 0 1 0 351.72 0 a175.86 175.86 0 1 0 -351.72 0z' fill='rgba(6%2c 119%2c 144%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1234'%3e%3crect width='1920' height='719' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='50%25' x2='100%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1235'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(78%2c 116%2c 165%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
/*# sourceMappingURL=myStyle.css.map */
