body {
    height: 1080px;
    width: 1920px;
    background-image: url("../media/Finished/Controllers.png");
    position: fixed;
    background-repeat: no-repeat;
}
.Back {
    display: block;
    width: 130px;
    height: 40px;
    top: 884px;
    left: 893px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
}