body {
    height: 1080px;
    width: 1920px;
    background-image: url("../media/Finish.png");
    position: fixed;
    background-repeat: no-repeat;
}

.MainMenu {
    display: block;
    width: 336px;
    height: 53px;
    top: 940px;
    left: 784px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
}