body {
    height: 1080px;
    width: 1920px;
    background-image: url("../media/Title.png");
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}
.pressStart {
    display: block;
    height: 1080px;
    width: 1920px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}