body {
    height: 1080px;
    width: 1920px;
    background-image: url("../media/Main_Menu.png");
    position: fixed;
    background-repeat: no-repeat;
}
.Games {
    display: block;
    width: 144px;
    height: 34px;
    top: 406px;
    left: 880px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
}
.Rankings {
    display: block;
    width: 171px;
    height: 49px;
    top: 485px;
    left: 866px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
}
.Options {
    display: block;
    width: 171px;
    height: 50px;
    top: 572px;
    left: 866px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
}
.Exit {
    display: block;
    width: 90px;
    height: 36px;
    top: 888px;
    left: 907px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
}