body {
    height: 1080px;
    width: 1920px;
    background-image: url("../media/Finished/Main_Menu.png");
    position: fixed;
    background-repeat: no-repeat;
}
.Games {
    display: block;
    width: 156px;
    height: 46px;
    top: 407px;
    left: 874px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
}
.Control {
    display: block;
    width: 227px;
    height: 33px;
    top: 499px;
    left: 838px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
}
.Exit {
    display: block;
    width: 106px;
    height: 36px;
    top: 887px;
    left: 899px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
}