* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.texto{
  color: white;
  margin: auto;
  text-align: center;
}

.memory-game{
  margin: auto;
  height: 700px;
  width: 698px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.background{
  margin: auto;
  background-image: url(../../games/gameRaul/images/backgroundGameRaul.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 850px;
}

.card {
  width: 22%;
  height: 33,33%;
  padding: 10px;
}

img{
  width: 100px;
}

.card-flip {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-flip.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  background-image: url("../../games/gameRaul/images/cardShowGameRaul.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-y: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-face--front {
  background-image: url("../../games/gameRaul/images/cardHideGameRaul.png");
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card-content {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 42%;
  color: white;
}

.resultado{
  position: absolute;
  color: white;
  font-size: 50px;
  top: 50px;
  z-index: 3;
}

.resultado2{
  position: absolute;
  text-align: center;
  color: white;
  font-size: 100px;
  top: 200px;
  z-index: 3;
}

.timer{
  position: absolute;
  color: white;
  font-size: 50px;
  z-index: 2;
}

.centrar{
  text-align: center;
  color: white;
  font-size: 100px;
  margin-top: 42%;
}