body {
  text-align: center;
  font-family: verdana;
  background-image: url(/media/fondo_formulario.jpg);
}

#enviar{
  margin-top: 360px;
}

.card{
  border-radius: 2em;
  background-color: rgb(255, 255, 255);
  margin-top: 200px;
  padding: 3em;
  transition: 0.25s;
  background-image: url(/media/fondo_cep.png);
  background-position:bottom;
  background-repeat: no-repeat;
}