/*HTML:*/
.background{
  width: 1920px;
  height: 1080px;
  background-image: url(../media/FINAL_BCKGRND.png);
  position: fixed;
}

.grid {
  width: 928px;
  height: 1080px;
  margin-left: 488px;
  background-image: none;
  position: fixed;
}

.modal{
  display: none;
  width: 1920px;
  height: 1080px;
  position: fixed;
  display: none;
  top: 0em;
  z-index: 1;
  overflow: none;
  background-repeat: no-repeat;
  background-image: url(../media/FINAL_FRAME.png);
}

.modal-content{
  background-repeat: no-repeat;
  background-image: url(../media/FINAL_FRAME.png);
  width: 1920px;
  height: 1080px;
}

/*JS:*/
.gurmann {
  position: absolute;
}

.platform {
  width: 196px;
  height: 72px;
  background-image: url(../media/Platforms/Good_One.png);
  position: absolute;
}

.coin {
  width: 64px;
  height: 64px;
  background-image: url(../media/Animated_Items/Coin.gif);
  position: absolute;
}

.redGem{
  width: 64px;
  height: 64px;
  background-image: url(../media/Animated_Items/Red_Gem.gif);
  position: absolute;
}

.letterF{
  width: 64px;
  height: 64px;
  background-image: url(../media/FRASE/F_item.png);
  position: absolute;
  background-repeat: no-repeat;
}

.letterR{
  width: 64px;
  height: 64px;
  background-image: url(../media/FRASE/R_item.png);
  position: absolute;
  background-repeat: no-repeat;
}

.letterA{
  width: 64px;
  height: 64px;
  background-image: url(../media/FRASE/A_item.png);
  position: absolute;
  background-repeat: no-repeat;
}

.letterS{
  width: 64px;
  height: 64px;
  background-image: url(../media/FRASE/S_item.png);
  position: absolute;
  background-repeat: no-repeat;
}

.letterE{
  width: 64px;
  height: 64px;
  background-image: url(../media/FRASE/E_item.png);
  position: absolute;
  background-repeat: no-repeat;
}

/* .scoreVisual{
  width: 500px;
  height: 500px;
  margin-left: 488px;
  font-size: 100px;
  text-align: center;
  background-color: white;
  position: fixed;
}  */