.background{
  width: 1920px;
  height: 1080px;
  background-image: url(../media/FINAL_BCKGRND.png);
  position: fixed;
}

.grid {
  width: 928px;
  height: 1080px;
  margin-left: 488px;
  background-image: none;
  position: fixed;
}

.gurmann {
  position: absolute;
}

.platform {
  width: 196px;
  height: 72px;
  background-image: url(../media/Platforms/Good_One.png);
  position: absolute;
}

.coin {
  width: 64px;
  height: 64px;
  background-image: url(../media/Animated_Items/Coin.gif);
  position: absolute;
}

.redGem{
  width: 64px;
  height: 64px;
  background-image: url(../media/Animated_Items/Red_Gem.gif);
  position: absolute;
}

/* .temporizador {
  align-items: center;
  justify-content: center;
  font-family: "Blocktopia";
}

#cuentAtras {
  font-size:5em;
  margin-left: 40px;
  margin-top: 40px;
  color: #fff;
} */

/* .scoreVisual{
  width: 500px;
  height: 500px;
  margin-left: 488px;
  font-size: 100px;
  text-align: center;
  background-color: white;
  position: fixed;
}  */

/*
.blueGem{
  width: 64px;
  height: 64px;
  background-image: "../media/Animated Items/Blue Gem.gif";
}
*/
/*
.GreenGem{
  width: 64px;
  height: 64px;
  background-image: "../media/Animated Items/Green Gem.gif";
}
*/
/*
.sonicRing{
  width: 64px;
  height: 64px;
  background-image: "../media/Animated Items/Sonic Ring.gif";
}
*/