@font-face {   
  font-family: "Blocktopia";
  src: url(fuentes/Blocktopia.ttf);
}

.mapa {
  height: 1080px;
  width: 1920px;
  position: fixed;
  background-repeat: no-repeat;
  background-image: url(media/Game2Aitor_POSSIBLEDEFINITIVE.png);
}

.infoFull {
  height: 1080px;
  width: 1920px;
  position: fixed;
  display: none;
  top: 0em;
  z-index: 300;
  background-repeat: no-repeat;
  background-image: url(media/fullGame.png);
}

.infoHalf {
  height: 1080px;
  width: 1920px;
  position: fixed;
  top: 0em;
  z-index: 300;
  display: none;
  background-repeat: no-repeat;
  background-image: url(media/halfGame.png);
}

.games {
  display: block;
  width: 143px;
  height: 34px;
  top: 942px;
  left: 496px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
}

.mainMenu {
  display: block;
  width: 240px;
  height: 36px;
  top: 940px;
  left: 849px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
}

.next {
  display: block;
  width: 103px;
  height: 34px;
  top: 942px;
  left: 1321px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
}

.player {
  background-image: url(media/CharacterRunNoSword.gif);
  width: 35px;
  height: 35px;
  position: relative;
}

.colision1 {
  width: 80px;
  height: 95px;
  margin: 0 auto;
  position: absolute;
  top: 920px;
  left: 415px;  
}

.colision2 {
  width: 750px;
  height: 60px;
  margin: 0 auto;
  position: absolute;
  top: 955px;
  left: 500px;
}


.colision3 {
  width: 10px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  top: 905px;
  left: 1240px;
}

.colision4 {
  width: 260px;
  height: 75px;
  margin: 0 auto;
  position: absolute;
  top: 800px;
  left: 1240px;
}

.colision5 {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  position: absolute;
  top: 790px;
  left: 1055px;
}

.colision6 {
  width: 105px;
  height: 25px;
  margin: 0 auto;
  position: absolute;
  top: 740px;
  left: 1050px;
}

.colision7 {
  width: 35px;
  height: 320px;
  margin: 0 auto;
  position: absolute;
  top: 610px;
  left: 890px;
}

.colision8 {
  width: 600px;
  height: 40px;
  margin: 0 auto;
  position: absolute;
  top: 585px;
  left: 680px;
}

.colision9 {
  width: 210px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  top: 660px;
  left: 1270px;
}

.colision10 {
  width: 800px;
  height: 40px;
  margin: 0 auto;
  position: absolute;
  top: 445px;
  left: 680px;
}

.colision11 {
  width: 800px;
  height: 40px;
  margin: 0 auto;
  position: absolute;
  top: 120px;
  left: 680px;
}

.colision12 {
  width: 40px;
  height: 180px;
  margin: 0 auto;
  position: absolute;
  top: 450px;
  left: 680px;
}

.colision13 {
  width: 15px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  top: 225px;
  left: 705px;
}

.colision14 {
  width: 160px;
  height: 130px;
  margin: 0 auto;
  position: absolute;
  top: 85px;
  left: 580px;
}

.colision15 {
  width: 170px;
  height: 130px;
  margin: 0 auto;
  position: absolute;
  top: 75px;
  left: 1315px;
}

.colision15 {
  width: 90px;
  height: 190px;
  margin: 0 auto;
  position: absolute;
  top: 375px;
  left: 1400px;
}

.llave1 {
  background-image: url(media/ItemGifs_Key.gif);
  width: 15px;
  height: 15px;
  margin: 0 auto;
  position: absolute;
  top: 730px;
  left: 1050px;
}

.llave2 {
  background-image: url(media/ItemGifs_Key.gif);
  width: 15px;
  height: 15px;
  margin: 0 auto;
  position: absolute;
  top: 670px;
  left: 1470px;
}

.llave3 {
  background-image: url(media/ItemGifs_Key.gif);
  width: 15px;
  height: 15px;
  margin: 0 auto;
  position: absolute;
  top: 550px;
  left: 1470px;
}

.llave4 {
  background-image: url(media/ItemGifs_Key.gif);
  width: 15px;
  height: 15px;
  margin: 0 auto;
  position: absolute;
  top: 80px;
  left: 580px;
}

.llave5 {
  background-image: url(media/ItemGifs_Key.gif);
  width: 15px;
  height: 15px;
  margin: 0 auto;
  position: absolute;
  top: 180px;
  left: 1475px;
}

.araña1 {
  background-image: url(media/WormEnemy_Idle.gif);
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  top: 950px;
  left: 1240px;
}

.araña2 {
  background-image: url(media/WormEnemy_Idle.gif);
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  top: 800px;
  left: 1480px;
}

.araña3 {
  background-image: url(media/WormEnemy_Idle.gif);
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  top: 600px;
  left: 1270px;
}

.araña4 {
  background-image: url(media/WormEnemy_Idle.gif);
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  top: 450px;
  left: 1480px;
}

.araña5 {
  background-image: url(media/WormEnemy_Idle.gif);
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  top: 125px;
  left: 1480px;
}


.temporizador {
  align-items: center;
  justify-content: center;
  font-family: "Blocktopia";
}

#cuentAtras {
  font-size:5em;
  margin-left: 40px;
  margin-top: 40px;
  color: #fff;
}
